
@import '../../app';

.section-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 20px;
  width: 100%;
  line-height: 80px;
  font-weight: bold;
  color: #666666;
  font-size: 30px;
  background: #fff;
  
  .text {
    
  }
  &::before {
    content: '';
    background: $theme-color;
    width: 10px;
    height: 40px;
    margin-right: 10px;
  }
}